{% extends "layout.html" %}


{% block js_import_block %}
<!-- add ajax for symbols of quote request -->
<script src="{{ url_for('static', filename='quote_symbols_ajax.js') }}"></script>
{% endblock %}

{% block title %}
Quote
{% endblock %}

{% block main %}

<form action="/sandbox/quote" method="post" style="width: 100vw; display: flex; justify-content: center;">


  <div style="width: 90%; max-width: 550px;" class="mt-4 ms-2 me-2 mt-sm-0">

    <div class="text-center mb-3">
      <h2>{{ g.user['username'] }}</h2>
    </div>

    <div class="form-group row">
      <div class="col-12 col-sm-8 me-sm-0 pe-sm-0" id="ticker_alert_parrent">
        <input autocomplete="off" autofocus class="form-control w-100" name="symbol" id="symbol-input" placeholder="Тикер" type="search" required list="symbols">
        <datalist id="symbols">
          <!-- paste AJAX here -->
        </datalist>

      </div>
      <div class="col-12 col-sm-4 text-center ms-sm-0 ps-sm-0">
        <button class="btn btn-primary text-center w-100" id="check_button" type="button">Выбрать</button>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-8">
        <p>Биржевая котировка</p>
      </div>
      <div class="col-4">
        <p id="market_price" class="text-center">N/A</p>
      </div>
    </div>

    <div class="row">
      <div class="col-8">
        <p>Величина лота</p>
      </div>
      <div class="col-4">
        <p id="lot" class="text-center">N/A</p>
      </div>
    </div>

    <div class="row">
      <div class="col-8">
        <p>Лучший спрос</p>
      </div>
      <div class="col-4">
        <p id="bid" class="text-center">N/A</p>
      </div>
    </div>

    <div class="row">
      <div class="col-8">
        <p>Лучшее предложение</p>
      </div>
      <div class="col-4">
        <p id="offer" class="text-center">N/A</p>
      </div>
    </div>


    <div class="row d-flex justify-content-start">
      <div class="col-6 col-sm-4">
        <button id="button_more_info" class="btn btn-primary w-100" type="button" data-bs-toggle="collapse" data-bs-target="#detail_info" aria-expanded="false" aria-controls="detail_info">
          Подробнее
        </button>
      </div>
    </div>

    <div class="row m-0 p-0" style="width: 100%;">
      <div class="collapse col-12 w-100 m-0 p-0" id="detail_info">
        <div class="card card-body w-100 m-0 p-0">
          <table id="parent_table" class="table table-striped table-hover">
            <tbody id="parent_add_detail_info">
              <!-- input data from result here-->
            </tbody>
          </table>
        </div>
      </div>
    </div>


    <div class="row d-flex justify-content-between align-content-center mt-4">
      <div class="col-12 col-sm-4">
        <input autocomplete="off" class="form-control w-100" name="number" type="number" min="1" required placeholder="Кол-во лотов">
      </div>
      <div class="col-12 col-sm-4 mt-2 mt-sm-0">
        <button id="button_buy" class="btn btn-outline-primary w-100 disabled" type="submit">Купить</button>
      </div>
    </div>
   
  </div>
</form>

{% endblock %}